body {
  background: #F6FBFF;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #5688C7;
  font-weight: bold;
}

#current {
  text-decoration: underline;
}

.nav-container {
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
}

.nav-button {
  padding: .5%;
  padding-right: 3%;
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2vh;
}

.nav-line {
  border: 1px solid black;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.header-element {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-family: adobe-caslon-pro, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6vh;
  line-height: 8vh;
  width: 75%;
}

.img {
  width: 70%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
}

.projects-container{
  width: 85%;
}

.project {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
}

.description-container{
  width: 60%;
}

.title {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5vh;
}

.description {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2vh;
  width: 55%;
}

.link {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2vh;
}

.links-container-child {
  display: flex;
  flex-direction: row;
}

.bi-chevron-right {
  padding-top: .4vh;
  position: absolute;
  right: 8.5%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8vh;
}
